<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="dateTimeFormGroup" class="mt-5">
        <!-- START DATE/TIME -->
        <div class="start bg-secondary text-white p-3" [ngClass]="{'error':dateTimeForm.errors?.['startGreaterThanEnd']}">
          <div class="row">
            <div class="mb-3 col">
              <div class="row" formGroupName="start">
                <div class="col-12">
                  <label for="startDate" class="form-label">Start Date</label>
                  <input type="date" class="form-control" id="startDate" autocomplete="false" formControlName="date">
                </div>
                <div class="col-12">
                  <div class="row" formGroupName="time">
                    <div class="col-5 mt-5">
                      <label for="startHour" class="form-label">Start Time (Hours)</label>
                      <input type="number" class="form-control" id="startHour" autocomplete="false" formControlName="hours">
                    </div>
                    <div class="col-2 mt-5 text-center align-items-end d-flex justify-content-center pb-2">:</div>
                    <div class="col-5 mt-5">
                      <label for="startMins" class="form-label">Start Time (Mins)</label>
                      <input type="number" class="form-control" id="startMins" autocomplete="false" formControlName="minutes">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-danger" *ngIf="dateTimeForm?.errors?.['startGreaterThanEnd']">
              Start date cannot be greater than end date!
            </div>
          </div>
        </div>
        <!-- END DATE/TIME -->
        <div class="end bg-secondary text-white p-3 mt-5" [ngClass]="{'error':dateTimeForm.errors?.['startGreaterThanEnd']}">
          <div class="row">
            <div class="mb-3 col">
              <div class="row" formGroupName="end">
                <div class="col-12">
                  <label for="endDate" class="form-label">End Date</label>
                  <input type="date" class="form-control" id="endDate" autocomplete="false" formControlName="date">
                </div>
                <div class="col-12">
                  <div class="row" formGroupName="time">
                    <div class="col-5 mt-5">
                      <label for="endHour" class="form-label">End Time (Hours)</label>
                      <input type="number" class="form-control" id="endHour" autocomplete="false" formControlName="hours">
                    </div>
                    <div class="col-2 mt-5 text-center align-items-end d-flex justify-content-center pb-2">:</div>
                    <div class="col-5 mt-5">
                      <label for="endMins" class="form-label">End Time (Mins)</label>
                      <input type="number" class="form-control" id="endMins" autocomplete="false" formControlName="minutes">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-danger" *ngIf="dateTimeForm?.errors?.['startGreaterThanEnd']">
              End date cannot be lesser than start date!
            </div>
          </div>
        </div>
        <!-- DISPLAY -->
        <div class="mt-5 bg-dark text-white p-5"><pre>{{formattedDateTimeGroup.value | json}}</pre></div>
        <div class="mt-5 bg-dark text-white p-5">
          Form status: {{formattedDateTimeGroup.valid}}<br>
          Form status: {{formattedDateTimeGroup.status}}
        </div>
      </form>
    </div>
  </div>
</div>